rsa==4.9
iso639==0.1.4
boto3
ujson
pydantic
gunicorn
pandas
pandarallel
polars
jdc
kubernetes
openshift
# network analysis
pyshark
scapy
nfstream
boto3
botocore
s3transfer
s3pathlib
sqlalchemy
pyathena
scalene
Flask
line_profiler
pyuwsgi
gevent
dill
pipreqs
fastapi
elasticsearch
elasticsearch-dsl
fastavro
mysql-connector-python
redis
neo4j
neo4j-driver
splunk-sdk
pyssql
splunk-sdk
pyodbc
elasticsearch5
psycopg2-binary
pyarrow
bs4
