gunicorn
pandas
pandarallel
polars


jdc
kubernetes
openshift

# network analysis
pyshark
scapy
nfstream


boto3
botocore
s3transfer
s3pathlib
sqlalchemy
pyathena

scalene
Flask
line_profiler
pyuwsgi
gevent
dill
pipreqs

fastapi
