scikit-learn
requests>=2.31
redis
pymongo
h5py
psycopg
pymysql
pyodbc
pysqlite3
py2neo
boto3
pickledb
pyes
pyspark
pytz
splunk-sdk
kafka-python
pika
celery
pandas
numpy
polars
scipy
#scikit-learn
beautifulsoup4
flask
fastapi
kubernetes
openshift
pyssql
rsa
ujson
iso639
tqdm
plotly
cryptography
jupyterlab

